/* header */
header {
  background-color: #fff;
}

header nav {}

header nav .top-header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

header nav .top-header .top-inner {
  flex: 0 1 1240px;
  display: flex;
  justify-content: space-between;
}

header nav .top-header h1.logo {
  flex: 0 0 160px;
}

header nav .top-header h1.logo img {
  width: 100%;
  height: auto;
  display: block;
}

header nav .top-header span.menu {
  display: none;
  width: 30px;
  height: 30px;
}
header nav .top-header span.menu img{
  display: block;
  width: 100%;
  height: auto;
}

header nav .top-header .goto{
  width: auto;
}
header nav .top-header .goto span img{
  width: 100%;
  height: auto;
  display: block;
}

header nav .top-header .goto ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

header nav .top-header .goto ul li {
  text-align: right;
}

header nav .top-header .goto ul li a {
  font-size: 12px;
  line-height: 30px;
  position: relative;
}

header nav .top-header .goto ul li:not(:last-child) a::after {
  content: '';
  display: block;
  width: 2px;
  height: 15px;
  background-color: var(--main-background-colro);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
}

header nav .bottom-header {
  width: 100%;
}

header nav .bottom-header .bottom-inner {
  padding: 10px 0;
  display: flex;
  justify-content: center;
}


header nav .bottom-header .gnb {
  flex: 0 1 1240px;
  position: relative;
}


header nav .bottom-header .gnb>ul {
  display: flex;
  justify-content: space-between;
}

header nav .bottom-header .gnb>ul>li {
  position: relative;
}

header nav .bottom-header .gnb>ul>li>a {
  font-size: 18px;
  font-family: var(--main-font-family);
  font-weight: 700;
  line-height: 40px;
  color: var(--main-color);
}

header nav .bottom-header .gnb ul>li ul.sub {
  width: 300%;
  height: auto;
  display: none;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}

header nav .bottom-header .gnb:hover ul li ul.sub {
  display: block;
}

header nav .bottom-header .gnb ul>li ul.sub li {
  line-height: 30px;
  font-family: var(--main-font-family);
  font-weight: 400;
}
header nav .bottom-header .gnb ul>li ul.sub li a {
  font-family: inherit;
  font-weight: inherit;
  position: relative;
}
header nav .bottom-header .gnb ul>li ul.sub li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  background-color: var(--main-background-colro);
  transition: all 0.3s;
}
header nav .bottom-header .gnb ul>li ul.sub li a:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  background-color: var(--main-background-colro);
}
header nav .bottom-header .bottom-inner .gnb .background {
  width: 100vw;
  height: 200px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 9;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border-top: 1px solid rgb(143, 143, 143);
}

header nav .bottom-header .bottom-inner .gnb:hover .background {
  display: block;
}

header nav .short-gnb{
  width: 80vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -80vw;
  background-color: #fff;
  padding: 40px 60px;
  box-sizing: border-box;
  z-index: 999;
}
header nav .short-gnb span.out{
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
}
header nav .short-gnb span.out img{
  width: 100%;
  height: auto;
  display: block;
}
header nav .short-gnb>ul{
  margin: 20px 0;
}
header nav .short-gnb>ul>li{
  line-height: 40px;
}
header nav .short-gnb>ul>li>a{
  font-size: 18px;
  font-weight: 700;
  font-family: var(--main-font-family);
}
header nav .short-gnb>ul>li>a:hover{
  letter-spacing: 3px;
}
header nav .short-gnb>ul>li ul.sub{
  display: none;
  margin-bottom: 20px;
}
header nav .short-gnb>ul>li ul.sub li{
  line-height: 20px;
}
header nav .short-gnb>ul>li ul.sub li a{
  font-size: 14px;
  font-family: var(--main-font-family);
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  header{
    padding: 0 20px;
    box-sizing: border-box;
  }
  header nav .top-header .top-inner span.menu {
    display: block;
  }  
  header nav .top-header .top-inner .goto{
    display: none;
  }
  header nav .bottom-header{
    display: none;
  }
}