main{
  width: 100%;
  height: auto;
  padding: 60px 40px;
  box-sizing: border-box;
}
main section{
  display: flex;
  justify-content: center;
}
main section .join-container{
  flex: 0 1 500px;
}
main section .join-container h1.title{
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 700;
}
main section .join-container .form-con{
  width: 100%;
}
main section .join-container .form-con form ul li{
  width: 100%;
  height: auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main section .join-container .form-con form ul li:not(:last-child){
  border-bottom: 1px solid #ccc;
}
main section .join-container .form-con form ul li.joinBtn{
  padding: 40px 0;
}
main section .join-container .form-con form ul li input{
  border: 0;
  outline: 0;
  font-size: 16px;
  flex: 0 1 300px;
  line-height: 24px;
}
main section .join-container .form-con form ul li input#joinBtn{
  font-size: 18px;
  flex: 1;
  line-height: 50px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #e6a29e;
  box-sizing: border-box;
  background-color: #e6a29e00;
}
main section .join-container .form-con form ul li input#joinBtn:hover{
  background-color: #e6a29e;
  font-weight: bolder;
}
main section .join-container .form-con form ul li span.check{
  padding: 5px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
}
main section .join-container .form-con form ul li p.checked{
  line-height: 24px;
  font-size: 12px;
}