main{
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
main section{
  flex: 0 1 500px;
  min-height: calc(100vh - 310px);
}
main section .join-con{
  width: 100%;
  height: auto;
  padding: 60px 0;
  box-sizing: border-box;
}
main section .join-con h2{
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--font-family);
  text-align: center;
  line-height: 40px;
  margin-bottom: 40px;
  color: var(--color);
}
main section .join-con form{
  width: 100%;
  height: auto;
}
main section .join-con form input{
  display: block;
  outline: none;
  border: none;
}
main section .join-con form ul{
  margin-bottom: 40px;
}
main section .join-con form ul li{
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
main section .join-con form ul li input{
  font-size: 1rem;
  line-height: 24px;
}
main section .join-con form ul li.flex{
  display: flex;
  justify-content: space-between;
}
main section .join-con form ul li.userPhone input{
  flex: 0 1 400px;
}
main section .join-con form ul li.userPhone span{
  display: block;
  flex: 0 0 70px;
  font-size: 0.75rem;
  text-align: center;
  line-height: 20px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
main section .join-con form ul li.userPw2 input{
  flex: 3;
}
main section .join-con form ul li.userPw2 p.checked{
  flex: 1;
  font-size: 0.75rem;
  line-height: 24px;
  text-align: right;
}
main section .join-con form span.joinBtn{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid var(--background-color);
  box-sizing: border-box;
}
main section .join-con form span.joinBtn input{
  font-size: 1.125rem;
  text-align: center;
  width: 100%;
  height: inherit;
  background-color: #fff;
  cursor: pointer;
}
main section .join-con form span.joinBtn input:hover{
  font-weight: bolder;
  background-color: var(--background-color);
}
@media only screen and (max-width: 768px) {
  main section{
    min-height: calc(100vh - 270px);
  }
}
@media only screen and (max-width: 480px) {
  main section{
    flex: 0 1 400px;
  }
}