main{
  display: flex;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}
main section{
  flex: 0 1 400px;
  min-height: calc(100vh - 310px);
}
main section .login-con{
  width: 100%;
  height: auto;
  padding: 60px 0;
  box-sizing: border-box;
}
main section .login-con h2{
  font-size: 1.75rem;
  font-weight: 700;
  font-family: var(--main-font);
  text-align: center;
  line-height: 40px;
  margin-bottom: 40px;
  color: var(--main-color);
}
main section .login-con form{
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
main section .login-con form input{
  display: block;
  outline: none;
  border: none;
}
main section .login-con form ul{
  margin-bottom: 40px;
}
main section .login-con form ul li{
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px 10px;
}
main section .login-con form ul li input{
  font-size: 1rem;
  line-height: 24px;
}
main section .login-con form span.loginBtn{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border-radius: 25px;
  border: 1px solid var(--point-color);
  box-sizing: border-box;
}
main section .login-con form span.loginBtn input{
  font-size: 1.125rem;
  text-align: center;
  width: 100%;
  height: inherit;
  background-color: #fff;
  cursor: pointer;
}
main section .login-con form span.loginBtn input:hover{
  font-weight: bolder;
  background-color: var(--point-color);
}
main section .login-con .option-con{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
main section .login-con .option-con span a{
  font-size: 0.875rem;
  line-height: 20px;
  margin: 0 10px;
  color: #222;
}
main section .login-con .option-con span.find a:first-child{
  position: relative;
}
main section .login-con .option-con span.find a:first-child::after{
  content: '';
  display: block;
  width: 2px;
  height: 10px;
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ccc;
}
@media only screen and (max-width: 768px) {
  main section{
    min-height: calc(100vh - 270px);
  }
}
@media only screen and (max-width: 480px) {
  main section{
    min-height: calc(100vh - 330px);
  }
  main section{
    flex: 0 1 400px;
  }
}