main{
  width: 100%;
  min-height: calc(100vh - 330px);
  padding: 60px 40px;
  box-sizing: border-box;
}
main section{
  display: flex;
  justify-content: center;
}
main section .login-container{
  flex: 0 1 400px;
}
main section .login-container h1.title{
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
}
main section .login-container .form-con{
  width: 100%;
}
main section .login-container .form-con form ul li{
  width: 100%;
  height: auto;
  padding: 20px 0;
  box-sizing: border-box;
}
main section .login-container .form-con form ul li input{
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1rem;
  line-height: 24px;
}
main section .login-container .form-con form ul li:not(:last-child){
  border-bottom: 1px solid #ccc;
}
main section .login-container .form-con form ul li.loginBtn{
  padding: 40px 0 20px;
}
main section .login-container .form-con form ul li input#formBtn{
  font-size: 1.125rem;
  line-height: 50px;
  text-align: center;
  background-color: #e6a29e00;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid var(--main-background-colro);
}
main section .login-container .form-con form ul li input#formBtn:hover{
  background-color: var(--main-background-colro);
  font-weight: bolder;
}
main section .login-container .option-con{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main section .login-container .option-con .join-go a{
  font-size: 0.875rem;
  color: #222;
}
main section .login-container .option-con .search-con a{
  font-size: 0.875rem;
  color: #222;
  margin-left: 20px;
}
@media only screen and (max-width: 768px) {
  main{
    min-height: calc(100vh - 282px);
  }
}