main{
  width: 100%;
  height: calc(100vh - 323px);
  padding: 60px 40px;
  box-sizing: border-box;
}
main .inner-container{
  display: flex;
  justify-content: center;
}
main .inner-container .login-container{
  flex: 0 1 400px;
}
main .inner-container .login-container h1.title{
  width: 100%;
  text-align: center;
  line-height: 30px;
  margin-bottom: 40px;
  font-family: 'Asap Condensed', sans-serif;
  font-weight: 700;
}
main .inner-container .login-container .form-con{
  width: 100%;
}
main .inner-container .login-container .form-con form{}
main .inner-container .login-container .form-con form ul{}
main .inner-container .login-container .form-con form ul li{
  width: 100%;
  height: auto;
  padding: 20px 0;
  box-sizing: border-box;
}
main .inner-container .login-container .form-con form ul li input{
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Noto Sans KR', sans-serif;
}
main .inner-container .login-container .form-con form ul li:not(:last-child){
  border-bottom: 1px solid #ccc;
}
main .inner-container .login-container .form-con form ul li.loginBtn{
  padding: 40px 0 20px;
}
main .inner-container .login-container .form-con form ul li input#formBtn{
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  background-color: #e6a29e;
  border-radius: 25px;
  cursor: pointer;
}
main .inner-container .login-container .option-con{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .inner-container .login-container .option-con .join-go a{
  font-size: 14px;
  color: #222;
  font-family: 'Noto Sans KR', sans-serif;
}
main .inner-container .login-container .option-con .search-con a{
  font-size: 14px;
  color: #222;
  margin-left: 20px;
  font-family: 'Noto Sans KR', sans-serif;
}