main{
  width: 100%;
  height: auto;
}
main section.sec1{
  width: 100%;
  height: 300px;
}
main section.sec1 .sec-con{
  width: 100%;
  height: inherit;
  background: url("../../img/product_banner.jpg") no-repeat 50%/cover;
}

main section.sec2{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
main section.sec2 .sec-con{
  flex: 0 1 1240px;
  height: auto;
}
main section.sec2 .sec-con h2.section2-title{
  font-size: 1.75rem;
  padding: 20px 0 40px;
  box-sizing: border-box;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-stretch: ultra-expanded;
  line-height: 32px;
  word-spacing: 10px;
  color: var(--main-color);
}
main section.sec2 .sec-con .best-product{
  width: 100%;
  height: 296px;
  position: relative;
}
main section.sec2 .sec-con .best-product .card-con{
  width: 100%;
  height: inherit;
  position: absolute;
  overflow: hidden;
}
main section.sec2 .sec-con .best-product .card-con .card-gallery{
  width: 244.5161%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
}
main section.sec2 .sec-con .best-product .card-con .card-gallery ul{
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: start;
  gap: 40px;
}
main section.sec2 .sec-con .best-product .card-con .card-gallery ul li{
  flex: 0 1 216px;
  height: auto;
}
main section.sec2 .sec-con .best-product .card-con .card-gallery ul li a{
  width: 100%;
  height: auto;
  display: block;
}
main section.sec2 .sec-con .best-product .card-con .card-gallery ul li a img{
  width: 100%;
  height: auto;
  display: block;
}
main section.sec2 .sec-con .best-product .card-con .card-gallery ul li a p{
  line-height: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1rem;
} 
main section.sec2 .sec-con .best-product .bottom-btn{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
main section.sec2 .sec-con .best-product .bottom-btn .bottom-items{
  flex: 0 1 100px;
  /* padding: 40px 0; */
  box-sizing: border-box;
}
main section.sec2 .sec-con .best-product .bottom-btn .bottom-items ul{
  display: flex;
  justify-content: space-between;
}
main section.sec2 .sec-con .best-product .bottom-btn .bottom-items ul li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  box-sizing: border-box;
  cursor: pointer;
}
.on{
  background-color: var(--main-color);
}

main section.sec3{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
main section.sec3 .sec-con{
  flex: 0 1 1240px;
  height: auto;
  padding: 20px 0 40px;
}
main section.sec3 .sec-con .section3-nav{
  width: 100%;
  height: auto;
  padding: 0 0 40px;
}
main section.sec3 .sec-con .section3-nav .underline{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--main-background-colro);
}

main section.sec3 .sec-con .section3-nav ul{
  display: flex;
  gap: 40px;
}
main section.sec3 .sec-con .section3-nav ul li{
  font-size: 1.75rem;
  font-family: var(--main-font-family);
  font-weight: 700;
  cursor: pointer;
  color: var(--main-color);
}
main section.sec3 .sec-con .product-list{
  width: 100%;
  height: auto;
}
main section.sec3 .sec-con .product-list ul{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  gap: 40px;
  flex-wrap: wrap;
}
main section.sec3 .sec-con .product-list ul li{
  flex: 0 1 216px;
  height: auto;
}
main section.sec3 .sec-con .product-list ul li a{
  display: block;
  width: 100%;
  height: auto;
}
main section.sec3 .sec-con .product-list ul li a img{
  width: 100%;
  height: auto;
  display: block;
}
main section.sec3 .sec-con .product-list ul li a p{
  padding: 10px;
  box-sizing: border-box;
  line-height: 20px;
  font-size: 1rem;
}
main section.sec3 .sec-con .product-list ul li.more-box{
  height: 216px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-sizing: border-box;
}
main section.sec3 .sec-con .product-list ul li.more-box:hover{
  border: 1px solid var(--main-background-colro);
}
main section.sec3 .sec-con .product-list ul li.more-box a{
  font-size: 25px;
  text-align: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-stretch: ultra-expanded;
  color: var(--main-color);
}

@media only screen and (max-width:768px){
  main section.sec1{
    height: 150px;
  }
  main section.sec2 .sec-con{
    flex: 0 1 648px;
    padding: 40px 0 0;
    box-sizing: border-box;
  }
  main section.sec2 .sec-con .best-product{
    height: 232px;
  }
  main section.sec2 .sec-con .best-product .card-con .card-gallery{
    width: 391.9753%;
    /* width: 312.3456%; */
  }
  main section.sec2 .sec-con .best-product .card-con .card-gallery ul li{
    flex: 0 1 132px;
  }
  main section.sec3 .sec-con{
    flex: 0 1 648px;
    padding: 20px 0 40px;
    box-sizing: border-box;
  }
  main section.sec3 .sec-con .product-list ul li{
    flex: 0 1 132px;
  }
  main section.sec3 .sec-con .product-list ul li.more-box{
    height: 142px;
  }
}
@media only screen and (max-width: 480px){
  main section.sec1{
    height: 90px;
  }
  main section.sec2{
    padding: 0 20px;
    box-sizing: border-box;
  }
  main section.sec2 .sec-con{
    flex: 0 1 440px;
  }
  main section.sec2 .sec-con .best-product{
    height: 600px;
  }
  main section.sec2 .sec-con .best-product .card-con .card-gallery{
    width: 318.182%;
  }
  main section.sec2 .sec-con .best-product .card-con .card-gallery ul{
    flex-wrap: wrap;
    gap: 3.38%;
  }
  main section.sec2 .sec-con .best-product .card-con .card-gallery ul li{
    /* flex: 0 1 200px; */
    flex: 0 1 13.85%;
  }
  main section.sec3{
  padding: 0 20px;
  box-sizing: border-box;
  }
  main section.sec3 .sec-con{
    flex: 0 1 440px;
  }
  main section.sec3 .sec-con .product-list ul li{
    /* flex: 0 1 200px; */
    flex: 0 1 44%;
  }
  main section.sec3 .sec-con .product-list ul li.more-box{
    height: 210px;
  }
  main section.sec3 .sec-con .section3-nav ul{
    gap: 20px;
  }
  main section.sec3 .sec-con .section3-nav ul li{
    font-size: 1.5rem;
  }
}