@import url(../common/footer.css);
@import url(../common/header.css);
@import url(../common/reset.css);
@import url(../container/productContainer.css);

header{
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 999;
}